.c-caption{
  padding-bottom: 350px !important;
}
.div-attr{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.bg-color{
	background-color: #232f3e !important;
}
.img-height{
	height: 750px;
}
.card-attr{
	height: 173.137px;
	width: 307.800px;
}
.card-div{
  padding-bottom: 20px;
}
.pad{
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.img-attr{
	width: 100%;
}
.h-text{
  color: #fff !important;
}
.parallax{
	background-image : url(images/jumbotron.jpg);
	min-height: 300px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.par-text{
	padding-top: 75px;
	font-size: 90px;
}
.f-color{
	color: #fff;
}
.para{
	margin-bottom: 0px;
}
.foot{
	height: 50px;
	width: 50px;
}
.btn-secondary{
	background-color:  #232f3e !important;
}
.o-carou-height{
  height: 400px !important;
}
.a-hover:hover{
  font-size: 21px;
}
.about{
  padding-top: 25px;
  padding-bottom: 25px;
}
.h-pad{
  padding-bottom: 10px;
}
.FAQ-div{
  font-size: 25px;
}
.a-hover2:hover{
  text-decoration-line: underline;
}
.card-h{
  padding: 0px !important;
}
.container {
    margin-top: 100px
}

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2;
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

.counter-box.colored {
    background: #232f3e
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}
.four{
  padding-bottom: 20px !important; 
}
.inner{
    overflow: hidden;
}
 
.inner img{
    transition: all 1.5s ease;
}
 
.inner:hover img{
    transform: scale(1.5);
}
.card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}
#search{
  width: 500px;
  padding: 3px;
  border: none;
  font-size: 18px;
  text-align:left;
  margin-top: 3px;
  margin-right: 150px;
}
